html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}

.screen {
  width: 100vw;
  height: 91.3vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#screen1 {
  background-color: silver;
}

#screen2 {
  background-color: green;
}

#screen3 {
  background-color: blue;
}

#screen4 {
  background-color: yellow;
}

#screen1 img {
  width: 200px;
  height: 200px;
}

#screen1 .mdc-list-divider {
  margin: 4px 0;
}

#screen1 .mdc-list-item__text {
  padding: 8px;
  margin: auto 0;
}