html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}

header {
  width: 100vw;
  height: 10vh;
}

main {  
  width: 100vw;
  min-height: 90vh;
}

.screen {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#screen1 {
  background-color: silver;
}

#screen2 {
  background-color: #d2afed;
}

#screen3 {
  background-color: #afedc8;
}

#screen4 {
  background-color: #edafaf;
}

#screen1 img {
  width: 200px;
  height: 200px;
}

#screen1 .mdc-list-divider {
  margin: 4px 0;
}

#screen1 .mdc-list-item__text {
  padding: 8px;
  margin: auto 0;
}

#screen2 img {
  width: 100px;
  height: 100px;
}

#screen2 .mdc-list {
  max-width: 50%;
}

#screen2 .mdc-list-item__text {
  padding: 8px;
}

#screen2 .mdc-list-divider {
  margin: 4px 0;
}